* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #1f1f1f;
  color: #fff;
}

#home {
  width: 100%;
  height: 100vh;
  padding: 2vw 4vw;
  #nav {
    width: 100%;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-size: 1.8vw;
      color: gray;
    }

    #links {
      display: flex;
      gap: 3vw;
      a {
        text-decoration: none;
        color: #fff;
        font-size: 1.2vw;
        font-weight: 500;
      }
    }
  }
  #heading {
    /* background-color: pink; */
    margin-top: 2vw;
    display: flex;
    align-items: center;
    /* gap: 3vw; */
    justify-content: space-between;
    h1 {
      font-size: 8vw;
      font-weight: 800;
      color: #fbf5eefb;
    }
    p {
      font-size: 1.3vw;
      color: gray;
      font-weight: 800;
    }
  }
  #heading2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
  }
  #icons {
    display: flex;
    gap: 1vw;
  }
  #home-body {
    width: 100%;
    height: 57%;
    margin-top: 3%;
    background-color: #ffffffc7;
    border-radius: 8px;
    display: flex;
    overflow: hidden;
    color: #181818;
    #text {
      width: 30%;
      height: 100%;
      padding: 1.5vw;
      .gray {
        color: rgb(107, 105, 105);
        font-weight: 600;
      }
      h3 {
        font-size: 1.7vw;
      }
      p {
        margin-top: 1vw;
        font-weight: 600;
        color: rgba(41, 40, 40, 0.918);
      }
      #buttons {
        display: flex;
        margin-top: 2vw;
        width: 100%;
        justify-content: space-between;
        .button {
          padding: 0.3vw 1vw;
          font-size: 1.2vw;
          font-weight: 500;
          color: #fff;
          border-radius: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: rgba(28, 27, 27, 0.874);
        }
      }
    }
    #image {
      width: 70%;
      height: 100%;
      /* background-color: gray; */
      background-image: url("./assets/bg1.jpg");
      background-size: cover;
      background-position: center;
    }
  }
}

#page1 {
  width: 100%;
  height: 100vh;
  padding: 2vw;
  #box {
    width: 100%;
    height: 100%;
    border: 2px solid #c4bbbbe9;
    display: flex;
    padding: 2vw;
    #left {
      width: 35%;
      height: 100%;
      background-color: rgba(172, 172, 172, 0.835);
      padding: 2vw;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    #right {
      width: 65%;
      height: 100%;
      padding: 0 3vw;

      h5 {
        font-size: 1.3vw;
        color: gray;
      }

      h3 {
        font-size: 2.5vw;
      }
      .audio {
        width: 100%;
        height: 4vw;
        margin-top: 1vw;
        display: flex;
        align-items: center;
        border-bottom: 2px solid #9b9b9beb;
        display: flex;
        justify-content: space-between;
        padding-right: 0.5vw;
        #name {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1vw;
          h2 {
            font-weight: 500;
          }
          p {
            font-size: 1.3vw;
            color: rgba(168, 168, 168, 0.93);
          }
        }
        #time {
          display: flex;
          align-items: center;
          justify-content: center;
          /* height: 100%; */
          color: rgba(190, 190, 190, 0.877);
        }
      }
    }
  }
}

#page2 {
  width: 100%;
  padding: 2vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    text-align: center;
    font-size: 5vw;
    line-height: 5vw;
    color: rgba(208, 208, 208, 0.945);
  }
  #button {
    margin-top: 2.5vw;
    width: 23%;
    height: 3.5vw;
    background-color: rgba(245, 85, 85, 0.751);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d3d3d3eb;
    font-size: 1.4vw;
    font-weight: 700;
    border-radius: 40px;
    box-shadow: 5px 5px 2px rgba(255, 255, 255, 0.3);
  }
}

#page3 {
  width: 100%;
  height: 90vh;
  padding: 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  #first {
    width: 32.5%;
    height: 100%;
    border: 1px solid #d3d3d3eb;
    border-radius: 4px;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1{
      font-size: 5.5vw;
      color: rgba(207, 207, 207, 0.928);
    }
    #bottom{
      width: 100%;
      /* height: 2vw; */
      /* background-color: gray; */
      display: flex;
      justify-content: flex-end;
      gap: 2vw;
      #left,#right{
        height: 3vw;
        width: 3vw;
        border: 1px solid #8b8b8bdd;
        background-color: #363434ed;
        border-radius: 50%;
        box-shadow: 3px 3px 2px rgba(102, 102, 102, 0.928);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .artist {
    width: 32.5%;
    height: 100%;
    border: 1px solid #d3d3d3eb;
    border-radius: 4px;
    padding: 1.5vw;
    #image{
      width: 100%;
      height: 45%;
      background-color: #a4a1a1;
      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    #categories{
      width: 100%;
      /* height: 3vw; */
      /* background-color: pink; */
      margin-top: 1vw;
      margin-bottom: 2vw;
      display: flex;
      gap: 1vw;
      .category{
        padding: 0.2vw 0.5vw;
        background-color: #6d6a6a;
        color: #181818;
        font-size: 1vw;
        font-weight: 800;
        width: fit-content;
        border-radius: 20px;
      }
    }
    h5{
      color: gray;
      margin-top: 0.5vw;
    }
    h2{
      margin-top: 0.5vw;
      color: #d7d5d5;
      font-size: 2vw;
    }
    p{
      font-size: 1.2vw;
      margin-top: 1vw;
      color: rgba(179, 178, 178, 0.945);
    }
  }
}
