@font-face {
  font-family: "Plain Light";
  src: url(./fonts/plain-regular-webfont.ttf);
}

@font-face {
  font-family: "Plain Light";
  src: url(./Fonts/plain-light-webfont.ttf);
}

@font-face {
  font-family: "silk serif";
  src: url(./Fonts/silkserif-lightitalic-webfont.ttf);
}

@font-face {
  font-family: "silk serif";
  src: url(./Fonts/silkserif-regularitalic-webfont.ttf);
}
@font-face {
  font-family: "PP Woodland";
  src: url(/Obys-Agency-Clone/Fonts/ppwoodland-bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Plain Light";
  color: white;
  cursor: pointer;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/* .mousefollower {
  border: 2px solid #fff;
  background-color: rgb(255, 255, 255);
  scale: 2;
  mix-blend-mode: difference;
} */

#loader {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1000;
  background-color: #000000;
  padding: 25vh 12vw;
}

.line {
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3vw;
}

#line1-part1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;

  h5,
  h6 {
    font-size: 2.5vw;
    font-family: "silk serif";
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
  }

  h5 {
    width: 5vw;
    text-align: right;
  }
}

.line h1 {
  font-size: 6vw;
  text-transform: uppercase;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.line h2 {
  font-size: 4vw;
  text-transform: uppercase;
  font-weight: 400;
  opacity: 0;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes anime {
  0% {
    font-family: "plain light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 1;
  }

  45% {
    font-family: "plain light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 0;
  }

  50% {
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    font-weight: 500;
    color: transparent;
    opacity: 1;
  }

  100% {
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 0;
  }
}

#main {
  position: relative;
  background-color: #000000;
}

#page1 {
  height: 100vh;
  width: 100vw;
  background-color: antiquewhite;
}
